footer {
    background: linear-gradient(0deg, rgba(201, 174, 30, 1) 0%, rgba(227, 195, 36, 1) 43%, rgba(252, 218, 52, 1) 100%);
    margin-top: 25px;
    width     : 100%;
}


.logo {
    height      : 100px;
    border-right: solid 3px rgb(20, 20, 20);

}


@media screen and (max-width: 500px) {

    .menu {
        flex-flow      : row wrap !important;
        justify-content: space-evenly !important;
    }
}