.caixa {
    width          : 28vw;
    margin-bottom  : 20px;
    word-wrap      : unset !important;
    justify-content: center;
}

.cards-group,
.form-group {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
    flex-direction : row;
    word-wrap      : unset !important;
}

.teste {
    color: red;
}

.row {
    margin: 0 !important;
}

.box-card {
    margin: 10px;
    width : 6vw;
}